
@media only screen and (max-width: 480px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 840px) {
  html {
    font-size: 110%;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 120%;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 130%;
  }
}

.white {
  color: white !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  padding-top: 60px;
  z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
